
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #c8c7db, #252928e0);
  }
  
  h1 {
    background-color: #475355;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .app-header {
    background-color: #0d0f0fc7;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  
  .car-app {
    padding: 20px;
  }
  
  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-section input,
  .filter-section select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter-section input::placeholder,
  .filter-section select option {
    color: #999;
  }
  
  .car-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }
  
 
.car-card {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f4f4f4;
    background-image: linear-gradient(45deg, #cfd7e4, #4a5350);
  }
  
  .car-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .car-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .car-card-content {
    padding: 16px;
  }
  
  .car-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2f2f2f;
  }
  
  .car-card p {
    margin: 4px 0;
    color: #555;
  }
  
  .car-card .details {
    padding-top: 12px;
    color: #777;
  }
  
  .car-card.active .details {
    display: block;
  }
  
  .car-card.active {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  